.creat_campaign_container {
  display: flex;
  width: 94%;
  margin: auto;
  flex-direction: column;
}
.creat_campaign_top_row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
}
.creat_campaign_top_row_heading {
  font-family: IBM Plex Serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 65%;
}
.creat_campaign_top_row_actions {
  width: 35%;
  display: flex;
  flex-direction: row-reverse;
}
.create_campaign_buttons {
  padding-inline: 20px;
  background-color: white;
  border: 1px solid #1f1a17;
  border-radius: 20px;
  margin-right: 10px;
}
.selected_button {
  background-color: black;
  color: white;
  padding-inline: 20px;
  border-radius: 20px;
  margin-right: 10px;
}
.create_campaign_details {
  margin-top: 2%;
  height: fit-content;
}
.create_campaign_left_side {
  height: 100%;
  box-shadow: 0px 6px 6px rgba(153, 153, 153, 0.25);
  padding: 2%;
}
.create_campaign_right_side {
  height: 100%;
  box-shadow: 0px 6px 6px rgba(153, 153, 153, 0.25);
  padding: 2%;
}
.create_campaign_left_side > div {
  margin-top: 2%;
}
.create_campaign_right_side > div {
  margin-top: 2%;
}
.create_campaign_left_side_lebel {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 1%;
}
.create_campaign_right_side_lebel {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 1%;
  padding-top: 2%;
}
.create_campaigns_drag_file {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.create_campaigns_drg_file_size {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  opacity: 0.6;
}
.create_campaigns_drg_file_instruction {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .creat_campaign_top_row_heading {
    width: 100%;
    text-align: center;
  }
  .creat_campaign_top_row_actions {
    width: 100%;
    margin-top: 2%;
  }
  .create_campaigns_drag_file {
    width: 90%;
  }
}
