.Container {
  width: 100%;
  /* height: 100vh; */
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.profile_header {
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 6.2rem 2.9rem 3rem;
}
.profile_header h3 {
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #000000;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site_layout .site_layout_background {
  background: transparent;
  margin: 0 8.4rem 3rem 2.8rem;
  min-height: 280px;
}
[data-theme="dark"] .site_layout .site_layout_background {
  background: #141414;
}
