* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .Home_wrapper {
  margin-top: 8.8rem;
  z-index: -1;
  height: 100%;
  width: 100%;
} */
.Home_wrapper {
  width: 92%;
  /* height: 100vh; */
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
