* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8.8rem;
  z-index: 999;
  padding: 0 8.7rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffffff;
}
.nav_links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}
.nav_links a:hover {
  color: #000000;
}
.home,
.topic,
.article,
.campaign,
.gallery,
.essentials {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
  padding: 1rem 1rem 2rem;
  margin: 3.3rem 1rem 0;
  cursor: pointer;
}
.mobile_menu_icon {
  display: none;
}
@media screen and (max-width: 1270px) {
  .nav_links {
    display: none;
  }
  .nav_links_mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #ffffffff;
    left: 0;
    top: 7.5rem;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .navbar {
    /* padding-bottom: 2rem; */
    justify-content: right;
  }
  .nav_link .menu {
    display: none;
  }
  .home,
  .topic,
  .article,
  .campaign,
  .gallery,
  .essentials {
    color: #000000;
    text-align: center;
    padding: 3.2rem;
    width: 100%;
    transition: all 0.5s ease-out;
  }
  .logo {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 3.5rem;
  }
  .mobile_menu_icon {
    display: block;
    position: absolute;
    font-size: 3rem;
    color: #000000;
    /* background-color: red; */
    border: none;
    outline: none;
    top: 1.5rem;
    right: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .nav_link {
    display: none;
  }
}
