.ci_notification_container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
.ci_notification_heaading {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0 2% 0 2%;
}
.ci_notification_sub_heading {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #464646;
  padding: 0 2%;
  margin-bottom: 13px;
}
.ci_notification_line {
  border-bottom: 1px solid #e9e8e8;
  margin: 1%;
}
.ci_notification_alerts_heading {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 1% 2% 0 2%;
}
.setting_wrapper_one {
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.setting_wrapper_text {
  padding-inline-start: 10px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.setting_wrapper_two {
  display: flex;
  flex-direction: row;
  padding: 0 2%;
}
.ant-switch-checked {
  background-color: #e3372e !important;
}

@media only screen and (max-width: 600px) {
  .ci_notification_container {
    min-height: auto;
    margin: 5% auto;
  }
}
