.ci_home_elinks_container {
  display: flex;
  width: 92%;
  margin: 3% auto;
  justify-content: space-between;
  flex-direction: column;
}

.ci_home_elinks_heading {
  font-family: IBM Plex Serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: start;
  padding: 1% 1% 0 0;
  color: #1F1A17;
}
.ci_home_elinks_heading_bottom_border {
  height: 3px;
  width: 10%;
  background-color: #da251c;
  margin: 2% 0 4% 0;
}

.ci_home_featured_card_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 30px;
}

.ci_home_featured_cards {
  height: fit-content;
  width: 32%;
  background: #F4F4F3;
  position: relative;
  cursor: pointer;
}
.ci_home_featured_cards_sideline {
  height: 40px;
  width: 3px;
  position: absolute;
  top: 10%;
  background-color: #1F1A17;
  opacity: 0.3;
}
.ci_home_featured_card_text {
  color: #1f1a17;
  font-family: IBM Plex Serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  padding: 3%;
  box-sizing: border-box;
}


.ci_home_slider_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.ci_home_slider_viewmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: right;
  color: #da251c !important;
  border: 1px solid rgba(43, 42, 41, 0.1);
  border-radius: 20px !important;
  padding: 1.5%;
}
.arrow_red_icon{
  height: 20px;
  width: 20px;
  margin-left: 4%;
}
.arrow_btns {
  height: 40px;
  width: 40px;
}
.arrow_right {
  margin-left: 10%;
}
.ci_home_slider_container div {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .ci_home_elinks_heading_bottom_border {
    width: 30%;
    margin-bottom: 5%;
  }
}
